%-svg-icon-arrow-right-dims {
	width: 26px;
	height: 13px;
}

%-svg-icon-at-dims {
	width: 18px;
	height: 18px;
}

%-svg-icon-envelope-dims {
	width: 24px;
	height: 17px;
}

%-svg-icon-guarantees-fifth-dims {
	width: 46px;
	height: 46px;
}

%-svg-icon-guarantees-first-dims {
	width: 44px;
	height: 44px;
}

%-svg-icon-guarantees-fourth-dims {
	width: 44px;
	height: 46px;
}

%-svg-icon-guarantees-second-dims {
	width: 44px;
	height: 44px;
}

%-svg-icon-guarantees-sixth-dims {
	width: 44px;
	height: 44px;
}

%-svg-icon-guarantees-third-dims {
	width: 44px;
	height: 44px;
}

%-svg-icon-phone-dims {
	width: 24px;
	height: 24px;
}

%-svg-icon-phone-fill-dims {
	width: 18px;
	height: 18px;
}

%-svg-icon-user-dims {
	width: 18px;
	height: 18px;
}

