%-svg-icon-arrow-button-dims {
	width: 17px;
	height: 24px;
}

%-svg-icon-arrow-right-dims {
	width: 26px;
	height: 13px;
}

%-svg-icon-at-dims {
	width: 18px;
	height: 18px;
}

%-svg-icon-cost-first-dims {
	width: 50px;
	height: 50px;
}

%-svg-icon-cost-second-dims {
	width: 116px;
	height: 75px;
}

%-svg-icon-cost-third-dims {
	width: 123px;
	height: 138px;
}

%-svg-icon-difficulties-first-dims {
	width: 74px;
	height: 74px;
}

%-svg-icon-difficulties-second-dims {
	width: 68px;
	height: 68px;
}

%-svg-icon-difficulties-third-dims {
	width: 70px;
	height: 70px;
}

%-svg-icon-envelope-dims {
	width: 23px;
	height: 16px;
}

%-svg-icon-guarantees-fifth-dims {
	width: 46px;
	height: 46px;
}

%-svg-icon-guarantees-first-dims {
	width: 44px;
	height: 44px;
}

%-svg-icon-guarantees-fourth-dims {
	width: 44px;
	height: 46px;
}

%-svg-icon-guarantees-second-dims {
	width: 44px;
	height: 44px;
}

%-svg-icon-guarantees-sixth-dims {
	width: 44px;
	height: 44px;
}

%-svg-icon-guarantees-third-dims {
	width: 44px;
	height: 44px;
}

%-svg-icon-phone-dims {
	width: 23px;
	height: 22px;
}

%-svg-icon-phone-fill-dims {
	width: 18px;
	height: 18px;
}

%-svg-icon-quotes-dims {
	width: 30px;
	height: 28px;
}

%-svg-icon-user-dims {
	width: 18px;
	height: 18px;
}

