@import '../helpers/variables';
@import '../helpers/mixins';


.difficulties {
  padding: 88px 0 88px;
  background-color: $white;
  overflow: hidden;
  @include breakpoint(lg) {
    padding: 77px 0 30px;
  }
  @include breakpoint(md) {
    padding: 50px 0 35px;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
    @include breakpoint(md) {
      text-align: left;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 90px;
    @include breakpoint(lg) {
      margin-top: 80px;
    }
    @include breakpoint(md) {
      margin-top: 40px;
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 60px)/3);
    text-align: center;
    @include breakpoint(lg) {
      align-items: flex-start;
      text-align: left;
    }
    @include breakpoint(md) {
      width: 100%;
      &:not(:first-of-type) {
        margin-top: 30px;
      }
    }
  }

  &__icon {
    height: 74px;
    fill: url("#difficulties-gradient");
  }

  &__subtitle {
    width: 100%;
    margin-top: 25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    @include breakpoint(lg) {
      margin-top: 15px;
    }
  }

  &__add-info {
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
  }

  &__paragraph {
    margin-top: 20px;
    &--narrow {
      max-width: 305px;
    }
    @include breakpoint(lg) {
      margin-top: 15px;
    }
    @include breakpoint(md) {
      &--narrow {
        max-width: 100%;
      }
    }
  }
}