@import '../helpers/variables';
@import '../helpers/mixins';



.examples {
  background: $white;
  padding: 60px 0;
  @include breakpoint(el) {
    padding: 32px 0;
  }
  @include breakpoint(md) {
    padding: 70px 0;
  }

  &__container {
    max-width: 1030px;
  }

  &__top-wrapper {
    width: 100%;
  }

  &__title {
    width: 100%;
    text-align: center;
  }

  &__carousel {
    margin-top: -40px;
    order: 3;
    @include breakpoint(md) {
      margin-top: 40px;
    }
  }

  &__item {
    width: 100%;
    @include breakpoint(el) {
      max-width: 992px !important;
    }
    @include breakpoint(md) {
      max-width: 768px !important;
    }
    
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    max-width: 250px;
    width: 100%;
    margin: 50px -20px -30px auto;
    z-index: 2;
    @include breakpoint(el) {
      margin-right: 0;
    }
    @include breakpoint(md) {
      margin: 36px auto 0;
    }

    &-counter {
      display: flex;
      align-items: center;
      color: #686868;
      font-size: 20px;

      &-this {
        color: #333333;
        font-size: 30px;
      }
    }

    &-button {
      font-size: 0;
      width: 39px;
      height: 39px;
      border: 3px solid $grape;
      background: $white;
      transition: all .25s ease-in-out;

      svg {
        fill: $grape;
        transition: all .25s ease-in-out;
      }

      @media (min-width: 769px) {
        &:hover,
        &:focus {
          border-color: $darkRed;
  
          > svg {
            fill: $darkRed;
          }
        }
      }

      @include breakpoint(md) {
        &:active {
          border-color: $darkRed;
  
          > svg {
            fill: $darkRed;
          }
        }
      }

      &.slick-disabled {
        border-color: #D3D3D3;

        > svg {
          fill: #D3D3D3;
        }
      }

      &--prev {
        order: -1;

        svg {
          transform: rotate(-180deg);
        }
      }
    }

    &-icon {
      fill: $darkGrey;
    }
  }

  .slick-slide {
    padding-top: 120px;
    
    @include breakpoint(md) {
      padding-top: 0;
    }
    img {
      opacity: 0 !important;
      transition: all .6s ease-in-out;
    }
  }

  .slick-current {
    img {
      opacity: 1 !important;
    }
  }

  .example {
    position: relative;
    min-height: 400px;    
    text-align: left;

    @include breakpoint(md) {
      position: relative;
    }

    &__image {
      position: absolute;
      flex-shrink: 0;
      max-width: 422px;
      top: -120px;
      left: 0;      
      @include breakpoint(lg) {
        max-width: 309px;
        height: auto;
        top: -50px;
      }
      @include breakpoint(md) {
        position: static;
        margin: 12px auto 0;
      }

      &.slide {
        animation: slide-down .3s ease-in-out;
      }
    }

    &__wrapper {
      max-width: 590px;
      margin-left: 502px;
      &::before {      
        @include pseudo();
        top: -27px;
        left: 422px;
        width: 600px;      
        height: 5px;
        background: $darkRed;
        @include breakpoint(el) {
          width: calc(100% - 422px);
        }
        @include breakpoint(lg) {
          width: calc(100% - 309px);
          left: 330px;
        }
        @include breakpoint(md) {
          display: none;
        }
      }
      @include breakpoint(el) {
        max-width: 400px;
        margin-left: 452px;
      }
      @include breakpoint(lg) {
        margin-left: 330px;
      }
      @include breakpoint(md) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__text {
      position: relative;
      margin-top: 10px;
      color: #737373;
      &:first-of-type {
        margin-top: 50px;
        margin-bottom: 20px;
      }
      &--result {
        margin-top: 20px;
      }
      @include breakpoint(lg) {
        &:first-of-type {
          margin-top: 20px;
          margin-bottom: 0;
        }
        &--result {
          margin-top: 10px;
        }
      }
      
    }

    &__subtilte {
      margin-right: 70px;
      color: $darkGrey;
      &--result {
        display: block;
        margin-bottom: 10px;
      }
      @include breakpoint(lg) {
        margin-right: 30px;
      }
    }
  }
}