@import '../helpers/variables';
@import '../helpers/mixins';


.main-header {
  padding: 28px 0 208px;
  color: $white;
  background: $grape url($imageDir + "main-header-bg.jpg") center no-repeat;
  background-size: cover;
  @include breakpoint(lg) {
    padding-bottom: 50px;
    background-image: url($imageDir + "main-header-bg-992.jpg");
  }
  @include breakpoint(md) {
    padding-top: 22px;
    padding-bottom: 65px;
    background-image: url($imageDir + "main-header-bg-768.jpg");
    background-position: left;
  }

  &__info {
    margin-top: 130px;
    @include breakpoint(lg) {
      margin-top: 20px;
    }
    @include breakpoint(md) {
      margin-top: 30px;
    }
    @media (max-width: 374px) {
      margin-top: 40px;
    }    
  }

  &__container {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 85px;
    @include breakpoint(el) {
      padding-left: $gutter;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    @include breakpoint(md) {
      font-size: 50px;
      line-height: 50px;
    }
    @media (max-width: 374px) {
      width: 100%;
      font-size: 44px;
      line-height: 44px; 
      text-align: center;
    }
  }

  &__agency {
    display: block;
    font-size: 22px;
    line-height: 30px;
    @include breakpoint(md) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__subtitle {
    margin-top: 18px;
    @include breakpoint(lg) {
      margin-top: 22px;
      max-width: 260px;
    }
    @include breakpoint(md) {
      max-width: 100%;
      margin-top: 10px;
      font-size: 30px;
      line-height: 39px;
    }
    @media (max-width: 374px) {
      width: 100%;
      margin-top: 20px;
      font-size: 24px;
      line-height: 28px;
      text-align: center; 
    }
  }

  &__paragraph {
    max-width: 390px;
    margin-top: 15px;
    font-size: 24px;
    line-height: 24px;
    @include breakpoint(lg) {
      margin-top: 30px;
      max-width: 260px;
    } 
    @include breakpoint(md) {
      width: 100%;
      max-width: 300px;
      font-size: 18px;
      line-height: 22px;
    }
    @media (max-width: 374px) {
      margin-top: 10px;
      text-align: center; 
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $darkGrey;
    margin-top: 27px;
    @include breakpoint(lg) {
      margin-top: 30px;
      max-width: 230px;
    }
    @media (max-width: 374px) {
      max-width: 100%;
      width: 100%;      
    } 
  }

  &__icon {
    flex-shrink: 0;
    margin-left: 12px;
    fill: $darkGrey;
  }

}

