@import '../helpers/variables';
@import '../helpers/mixins';


.quality {
  padding: 67px 0 30px;
  color: $white;
  background: $grape url($imageDir + "quality-bg.jpg") center no-repeat;
  background-size: cover;
  overflow: hidden;

  @include breakpoint(lg) {
    padding: 43px 0;
  }

  @include breakpoint(md) {
    background-image: url($imageDir + "quality-bg-768.jpg");
  }

  &__container {
    flex-direction: column;
  }

  &__title {
    margin-left: auto;
    text-align: center;
    @include breakpoint(el) {
      margin-right: auto;
    }
  }

  &__content {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 85px;
    &--numbers {
      margin-top: -150px;
      margin-bottom: -60px
    }
    &--offer {
      margin-top: 185px;
    }
    @include breakpoint(el) {
      &--numbers {
        position: relative;
        margin-top: 10px;
        margin-bottom: 0;
      }
      &--offer {
        width: 100%;
        margin-top: -100px;
        flex-direction: column;
      }
    }
    @include breakpoint(lg) {
      &--offer {
        margin-top: -80px;
      }
    }
    @include breakpoint(md) {
      flex-direction: column;
      margin-top: 50px;
      &--offer {
        margin-top: 0;
      }
      &--numbers {
        margin-top: 10px;
      }
    }
  }

  &__text-wrapper {
    flex-grow: 1;
    margin-right: 45px;
    @include breakpoint(md) {
      width: 100%;
      margin-right: 0;
      order: 2;
    }
  }

  &__image-wrapper {
    display: block;    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    &--right-shift {
      margin-right: -50px;
    }
    @include breakpoint(el) {
      &--right-shift {
        position: relative;
        margin-right: 0;
        margin-top: -35px;
        z-index: 2;
      }
      &--hidden {
        display: none;
      }
    }
    @include breakpoint(md) {
      &--right-shift {
        margin-top: 0;
      }
    }
  }

  &__image {
    @include breakpoint(el) {
      max-width: 365px;
    }
    @include breakpoint(md) {
      max-width: 345px;
    }
    @media  (max-width: 374px){
      max-width: 100%;
    }
  }

  &__paragraph {
    max-width: 415px;
    margin-top: 15px;
    &--big {
      max-width: 100%;
    }
    &--offer {
      max-width: 380px;
      margin-top: 0;
      margin-right: 25px;
    }
    @include breakpoint(el) {
      &--big {
        max-width: 400px;
        margin-top: 22px;
      }
      &--offer {
        max-width: 650px;
      }
    }
    @include breakpoint(lg) {
      &--big {
        max-width: 300px;
      }
      &--offer {
        max-width: 390px;
      }
    }
    @include breakpoint(md) {
      max-width: 100%;
      margin-top: 22px;
      &--offer {
        margin-top: 0;
        margin-right: 0;
      }
    }

  }

  &__heading {
    display: block;
    margin-bottom: 15px;
  }

  &__projects {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    @include breakpoint(el) {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(el) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 40px;      
    }
    @include breakpoint(lg) {
      margin-top: 20px;
    }
    @include breakpoint(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link {
    display: flex;    
    font-weight: 700;         
    font-size: 18px;
    line-height: 22px;
    color: $darkGrey;    
    &--sample {
      max-width: 226px;
      min-height: 54px;
      margin-top: 23px;      
      box-shadow: 0px 2px 25px rgba(80, 75, 157, 0.88);      
    }
    &--offer {
      max-width: 330px;
      min-height: 54px;
      box-shadow: 0px 2px 25px rgba(80, 75, 157, 0.88);
    }
    &--contract {
      margin-top: 15px;
    //  margin-right: 30px;
      font-weight: 400;
      color: inherit;
      justify-content: right;
    }
    @include breakpoint(el) {
      &--contract {
        margin-right: 0;
        margin-top: 0;
      }
    }
    @media (min-width: 769px) {
      &--contract {
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
    @include breakpoint(md) {
      &--contract {
        align-self: center;
        margin-top: 22px;
        &:active {
          text-decoration: underline;
        }
      }
    }
    @media (max-width: 374px) {
      &--sample {
        max-width: 100%;
      }
    }
  }

  &__numbers-wrapper {
    position: relative;
    margin-left: -230px;
    margin-right: 45px;
    &--sample {
      margin-left: 0;
      margin-right: 0;
    }
    @include breakpoint(el) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: static;
      order: 1;
      margin-left: 0;
      margin-right: 0; 
    }
    @include breakpoint(md) {
      &--sample {
        position: relative;
        align-items: flex-start;
        margin: 0 auto;
        padding-bottom: 132px;      
      }      
    }
  }

  &__amount {
    position: absolute;
    top: 0;
    right: -230px;
    min-width: 230px;
    min-height: 151px;
    padding: 22px 43px;
    text-transform: uppercase;
    background-color: rgba(255,255,255,.2);
    &--hidden {
      display: none;
    }
    @include breakpoint(el) {
      display: none;
      &--hidden {
        position: static;
        display: block;
        min-width: 218px;
        min-height: 132px;
      }
    }
    @include breakpoint(md) {
      &--hidden {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 65px;
        min-width: 343px;
      }
    }
  }

  &__number {
    font-weight: 900;
    font-size: 60px;
    line-height: 64px;
  }
  &__points {
    font-size: 22px;
    line-height: 24px;
  }
}