@import '../helpers/variables';
@import '../helpers/mixins';


.top-bar {
  &__container {
    padding-left: 85px;
    @include breakpoint(el) {
      padding-left: $gutter;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 185px);
    margin-left: auto;
    @include breakpoint(lg) {
      align-items: flex-start;
      margin-top: 20px;
    }
  }

  &__item {
    &--address {
      max-width: 160px;
      margin-right: 30px;
      @include breakpoint(el) {
        margin-right: 20px;
      }
      @include breakpoint(lg) {
        max-width: 115px;
      }
    }
    &--email {
      margin-right: 35px;
      @include breakpoint(el) {
        margin-right: 20px;
      }
      @include breakpoint(lg) {
        min-width: 146px;
      }
    }
    &--phone {
      display: flex;
      @include breakpoint(lg) {
        flex-direction: column;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    &--phone {
      margin-right: 45px;
      @include breakpoint(el) {
        margin-right: 20px;
      }
      @include breakpoint(lg) {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    fill: $white;
    &--email {
      margin-right: 32px;
      @include breakpoint(el) {
        margin-right: 10px;
      }
    }
    &--phone {
      margin-right: 16px;
      @include breakpoint(el) {
        margin-right: 10px;
      }
    }
    &--arrow {
      margin-left: 20px;
      fill: $darkGrey;
      @include breakpoint(lg) {
        display: none;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $darkGrey;
    @include breakpoint(lg) {
      justify-content: center;
      min-width: 170px;
      margin-top: 15px;
    }
  }  
}